<div class="row justify-space-between-md">
  <div class="login-form">
    <h2 class="page-title">Login</h2>
    <form class = "login-form">
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
  <div class="signup-form">
    <h2 class="page-title">Signup</h2>
   <form class = "signup-form">
  <div class="mb-3">
    <label for="exampleInputUsername1" class="form-label">Username</label>
    <input type="text" class="form-control" id="username-signup" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>